body {
    background: rgb(0, 0, 0);
}
#title {
    color: transparent;
    background-image: linear-gradient(rgb(0, 195, 255), rgb(98, 0, 255));
    background-clip: text;
    margin: 0px 9px;
    margin-right: 64%;

}
header {
    border: 3px solid blue;
    display: flex;
    justify-content: flex-start;
    border-radius: 14px;
    padding: 4px;
    box-shadow: 2px 2px 13px 6px rgb(44, 44, 243);
}
a {
    border: 2px solid blue;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    padding: 5px;
    margin: 3px;
    transition: 0.3s ease-in-out;
    font-family: Georgia;
    font-size: small;
    
}
a:hover {
    box-shadow: 2px 2px 12px 3px rgb(76, 76, 255);
}
.nav {
    margin-left: auto;
    display: flex;

}